
*.json

*.js

*.jsm

*.md

*.yml

node_modules/gulp-notify/node_modules/gulp-util/node_modules/replace-ext/.npmignore

node_modules/gulp-livereload/node_modules/gulp-util/node_modules/chalk/license

node_modules/gulp-livereload/node_modules/gulp-util/node_modules/chalk/node_modules/ansi-styles/license

node_modules/del/node_modules/globby/node_modules/glob/node_modules/inflight/LICENSE

node_modules/del/node_modules/.bin/rimraf

node_modules/del/node_modules/each-async/license
